.camera-section {
    flex-grow: 1; /* Ocupa el espacio disponible */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.camera-container {
    width: 95%;
    height: 95%; /* Esto asegura que la altura sea igual al ancho (proporción cuadrada) */
    padding-bottom: 80%;
    position: relative;
    border: 0.5rem solid var(--color-accent);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.scan-indicator-placeholder {
    height: 10rem; /* Ajusta este valor según el espacio que necesites */
}

.camera-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Para que la imagen de la cámara cubra el área sin deformarse */
}

.download-container {
    position: relative;
}

.api-response-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    letter-spacing: 0.35rem;
    font-family: "Archivo Black", serif;
    font-weight: 400;
    color: var(--color-accent);
    /*text-shadow: 0 0 15px var(--color-base-dark);*/
    -webkit-text-stroke: 0.25rem var(--color-base-dark);
    z-index: 2;
    animation: fadeInUp 0.8s ease-out;
    pointer-events: none;
    text-align: center;
}


@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate(-50%, calc(-50% + 10px));
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

@keyframes fadeInUp2 {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
