/* Import the Lato font */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

/* Apply the Lato font to the body */
.page-app {
    font-family: "Lato", sans-serif;
    overflow-x: hidden; /* Prevent horizontal scrollbar */
    max-width: 100vw;
}

/* Apply the Lato font to the titles */
h1,
h2,
h3,
p,
a {
    font-family: "Lato", sans-serif;
}

/* ----- SECCIÓN PORTADA ----- */
.front-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 90vh; /* Ensure it takes the full height of the viewport */
    background: no-repeat center center;
    background-size: cover;
    position: relative;
    margin: 0;
    padding: 0; /* Remove padding to ensure no extra space */
    border-bottom: 0.25rem solid var(--color-base-dark);
    z-index: 1; /* Ensure front-page is above other sections */
    opacity: 0.9; /* Make background slightly transparent */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    overflow: hidden; /* Prevent overflow */
}

/* ----- CONTENEDOR DEL TEXTO ----- */
.front-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 600px;
    margin: 0 auto; /* Center the content horizontally */
    grid-column: 1 / 2; /* Ensure content is in the left column */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    padding: 1rem; /* Add padding for better spacing */
    text-align: left; /* Center align text */
}

.head-container {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.front-content h1 {
    font-size: clamp(3rem, 5vw, 4rem);
    font-weight: 700;
    color: var(--color-base-dark);
}

.front-content p {
    font-size: clamp(1.5rem, 2.5vw, 1.6rem);
    color: black;
    font-weight: 700;
    max-width: 550px;
    margin: 0 auto; /* Center align paragraphs */
}

.front-content p em {
    font-size: clamp(1.8rem, 3vw, 2rem);
    font-style: italic;
}

.install-button-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.front-content .cta-button {
    display: inline-block;
    padding: 1rem 1.5rem;
    background-color: var(--color-accent);
    color: white;
    font-size: clamp(1.5rem, 2.5vw, 1.6rem);
    border-radius: 0.5rem;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    max-width: 250px;
    align-self: center;
    margin-bottom: 5%;
}

/* ----- IMAGEN DEL TELÉFONO ----- */
.image-container { /* imagen del telefono corregida*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    max-width: 700px;
    margin: 0 auto; /* Centra la imagen horizontalmente */
    grid-column: 2 / 3; /* Asegura que la imagen esté en la columna correcta */
    box-sizing: border-box; /* Incluye padding y border en el ancho y alto total */
    padding: 0; /* Elimina el padding */
}

.image-container img {
    max-width: 100%; /* La imagen no superará el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block; /* Elimina el espacio debajo de la imagen */
}

.front-image {
    position: relative;
    height: auto;
    width: 100%;
    max-width: 650px;
    z-index: 2;
    margin-bottom: 0; /* Elimina el margen inferior */
    align-items: center;
}

/* ----- MEDIA QUERIES PARA RESPONSIVE ----- */

@media (min-width: 768px) {
    .image-container {
        max-width: 1000px; /* Aumenta el ancho máximo en pantallas grandes */
    }
}

@media (min-width: 1920px) {
    .front-content h1 {
        font-size: clamp(4rem, 6vw, 5rem);
    }

    .front-content p {
        font-size: clamp(2rem, 3vw, 2.5rem);
    }

    .front-content .cta-button {
        font-size: clamp(2rem, 3vw, 2.5rem);
    }

    .feature h3, .feature p {
        font-size: 2rem;
    }

    .creator-card {
        width: 350px;
    }

    .donations-title, .donations-description {
        font-size: 2.5rem;
    }

    .donate-button {
        font-size: 1.5rem;
    }
}

@media (max-width: 1024px) {
    .front-page {
        grid-template-columns: 1fr;
    }

    .front-content .text-front {
        display: none;
    }

    .front-content {
        max-width: 100%;
        align-items: center;
        text-align: center;
    }

    .image-container {
        max-width: 100%;
    }

    .features {
        grid-template-columns: 1fr;
    }

    .creator-card {
        flex: 1 1 100%;
    }

    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer .right-column, .footer .left-column {
        width: 100%;
    }

    .partner-logos img {
        width: 25%;
    }
}

@media (max-width: 944px) {
    .front-content h1 {
        font-size: clamp(2.5rem, 4.5vw, 3.5rem);
    }

    .front-content {
        text-align: center;
    }
}

@media (max-width: 872px) {
    .front-page {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .head-container h1 {
        font-size: clamp(4rem, 5vw, 4rem);
    }

    .head-container img {
        width: 30%;
    }

    .front-image {
        display: block;
        max-width: 100%;
        z-index: 2; /* Ensure front-image is above other sections */
    }

    .front-content p {
        text-align: center;
        font-size: clamp(2rem, 3vw, 3rem);
    }

    .front-content p em {
        font-size: clamp(2.5rem, 3vw, 3.5rem);
    }

    .front-content .text-front {
        display: block;
    }

    .container-mission,
    .container-vision {
        text-align: center;
        flex: 1 1 100%;
        margin-bottom: 2rem; /* Add space for horizontal separator */
    }
    .title-about img {
        width: 25%;
    }
    .container-mission::after {
        display: none; /* Hide separator in mobile version */
    }

    .title-about h2 {
        text-align: center; /* Center h2 in mobile version */
    }

    .footer {
        flex-direction: column; /* Stack columns vertically */
        align-items: center; /* Center align columns */
    }

    .footer .right-column {
        width: 100%; /* Full width */
        margin-top: 1rem; /* Add margin for spacing */
    }

    .footer .left-column {
        width: 100%; /* Full width */
    }

    .partner-logos {
        flex-wrap: wrap; /* Allow wrapping */
        width: auto; /* Do not take full width */
    }

    .partner-logos img {
        width: 25%; /* Increase size for smaller screens */
    }
}

@media (max-width: 656px) {
    .head-container h1 {
        font-size: clamp(3.5rem, 5vw, 3.5rem);
    }

    .head-container img {
        width: 25%;
    }
}

@media (max-width: 537px) {
    .head-container h1 {
        font-size: clamp(3rem, 4vw, 3rem);
    }
}

@media (max-width: 462px) {
    .head-container h1 {
        font-size: clamp(2.5rem, 3vw, 2.5rem);
    }

    .front-content .text-front {
        font-size: clamp(1.8rem, 2vw, 1.5rem);
    }

    .front-content p em {
        font-size: clamp(2rem, 2vw, 1.8rem);
    }
}

@media (max-width: 388px) {
    .head-container h1 {
        font-size: clamp(2rem, 3vw, 2rem);
    }

    .front-content .text-front {
        font-size: clamp(1.4rem, 2vw, 1.4rem);
    }

    .front-content p em {
        font-size: clamp(1.4rem, 2vw, 1.4rem);
    }
}

@media (max-width: 345px) {
    .front-content .cta-button {
        font-size: clamp(1.2rem, 2.5vw, 1.2rem);
    }

    .front-content .text-front,
    .front-content p em {
        font-size: clamp(1.2rem, 2vw, 1.2rem);
    }
}

/* ------ ABOUT ------- */
.about-us {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    background: no-repeat center center;
    background-size: cover;
    background-image: url("../assets/page/bg/bg_neural.svg"); /* Ensure proper background usage */
    border-bottom: 0.25rem solid var(--color-base-dark);
    z-index: 0; /* Ensure about-us is below front-page */
    opacity: 0.9; /* Make background slightly transparent */
}

.title-about {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.title-about h2 {
    font-size: 3rem;
}

.title-about img {
    width: 8%;
}

.container-mission,
.container-vision {
    flex: 1 1 45%;
    margin: 1rem;
    position: relative; /* Ensure separator is positioned correctly */
}

.container-mission::after {
    display: none; /* Remove separator */
}

.container-mission h3,
.container-vision h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center; /* Center the h3 elements */
}

.container-mission p,
.container-vision p {
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center; 
}

/* Center align text in about-us section on mobile */
@media (max-width: 872px) {
    .container-mission,
    .container-vision {
        text-align: center;
        flex: 1 1 100%;
        margin-bottom: 2rem; /* Add space for horizontal separator */
    }
    .title-about img {
        width: 25%;
    }
    .container-mission::after {
        display: none; /* Hide separator in mobile version */
    }

    .title-about h2 {
        text-align: center; /* Center h2 in mobile version */
    }
}

/* Styles for the new features section */
.features {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    gap: 2rem; /* Add gap between columns */
    margin-bottom: 2rem;
    margin: 0 auto; /* Centra el contenedor en pantallas grandes */
    padding: 0 1rem; /* Añade un poco de padding en los lados */
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.feature img {
    width: 25%; /* Increase image size */
    height: 25%;
    margin-bottom: 1rem;
    object-fit: contain; /* Ensure images fit well within their container */
}

.feature h3 {
    font-size: 1.75rem; /* Increase font size */
    font-weight: bold; /* Make text bold */
    margin-bottom: -1rem;
}

.feature p {
    font-size: 1.75rem; /* Increase font size */
    line-height: 1.5;
}

/* ----- SECCIÓN CREADORES----- */
.creators-page {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; /* Center the contents vertically */
    background-repeat: no-repeat;
    text-align: center;
    min-height: 100vh;
    background: no-repeat center center;
    background-size: cover;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    padding: 2rem 1rem; /* Adjust padding to ensure space between sections */
    border-bottom: 0.25rem solid var(--color-base-dark);
    z-index: 1; /* Ensure front-page is above other sections */
    opacity: 0.9; /* Make background slightly transparent */
    overflow-x: hidden; /* Prevent horizontal overflow */
    overflow: hidden;
}

.creators-title {
    font-size: 2.5rem;
    color: var(--color-base-dark);
    margin-bottom: 1rem;
}

.creators-description {
    font-size: 1.5rem;
    color: var(--color-base-dark);
    margin-bottom: 2rem;
    max-width: 800px;
    text-align: center;
}

.creators-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the grid horizontally */
    align-items: center; /* Center the grid vertically */
    gap: 20px;
    padding: 0;
    max-width: 90%; /* Ensure the grid does not exceed the page width */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.creator-card {
    width: 300px; /* Increase width by 25% */
    text-align: center;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0; /* Remove margin to eliminate white spaces */
    flex: 1 1 calc(25% - 20px); /* Adjust the width as needed */
    box-sizing: border-box;
    max-width: 300px; /* Optional: set a max-width to prevent cards from getting too large */
    padding: 1rem; /* Add padding for better spacing */
}

/* PageApp.css */
.linkedin-badge-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Espacio entre el nombre y la tarjeta */
  }
  
  .creator-name {
    font-size: 1.2rem;
    font-weight: bold;
    color: #0077b5; /* Color azul de LinkedIn */
    text-decoration: none; /* Quitar subrayado predeterminado */
    cursor: pointer; /* Cambiar cursor al pasar el mouse */
  }
  
  .creator-name:hover {
    text-decoration: underline; /* Subrayar al pasar el mouse */
  }
  
  /* Ocultar el nombre generado por LinkedIn */
  .badge-base LI-profile-badge .LI-name {
    display: none !important;
  }

.creator-card:hover {
    transform: translateY(-10px);
}


.creator-card p, .creator-card a {
    text-align: center;
}
.technologies-title {
    text-align: center;
    font-size: 30x;
    font-weight: bold;
    color: #333;
    margin-top: 30px; /* Separación entre los creadores y el título */
    padding-top: 10px;
}

/* Estilos responsive para pantallas pequeñas */
@media (max-width: 1200px) {
    .creator-card {
        flex: 1 1 calc(33.33% - 20px);
    }
}

@media (max-width: 800px) {
    .creator-card {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 500px) {
    .creator-card {
        flex: 1 1 100%;
    }
}

@media (max-width: 480px) {
    .creators-grid {
        flex-direction: column;
        align-items: center;
    }

    .creators-title {
        font-size: 2rem;
    }

    .creators-description {
        font-size: 1.2rem;
    }
}

/* ----- SECCIÓN SLIDER----- */

.infinite-slider {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    padding: 20px 0;
    background-color: #f8f9fa; /* Ajusta según tu diseño */
    border-bottom: 0.25rem solid var(--color-base-dark);
}

.slider-track {
    display: flex;
    flex-wrap: nowrap; /* Evita que los elementos pasen a una nueva línea */
    gap: 40px;
    min-width: 100%;
    width: max-content; /* Hace que el track se expanda tanto como necesite */
    animation: slide 12s linear infinite;
}

.slider-container {
    text-align: center;
    margin-bottom: 20px; /* Espacio entre el título y el slider */
}

.slide {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide img {
    width: 100%;
    max-height: 80px;
    object-fit: contain;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-33.33%); /* Desplaza solo 1/3 del track para que nunca haya huecos */
    }
}
/* ----- SECCIÓN DONACIONES----- */

.donations-page {
    padding: 7rem 2rem;
    background-color: #f8f9fa; /* Color de fondo */
    text-align: center;
    background: no-repeat center center;
    background-size: cover;
}

.donations-title {
    font-size: 2.5rem;
    color: #333; /* Color del título */
    margin-bottom: 1rem; /* Espaciado inferior */
}

.donations-description {
    font-size: 2rem;
    color: #666; /* Color de la descripción */
    margin-bottom: 2rem; /* Espaciado inferior */
}

/* Estilos para el botón de donación */
.donate-button {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #28a745; /* Color de fondo del botón */
    color: rgb(255, 255, 255); /* Color del texto */
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    transition: background-color 0.3s ease; /* Transición suave */
}

.donate-button:hover {
    background-color: #218838; /* Cambia el color al hacer hover */
    color: rgb(255, 255, 255); /* Color del texto */
}

/* ------ FOOTER ------- */
.footer {
    background-color: #28a745; /* Color de fondo */
    color: white;
    text-align: center;
    padding: 1%; /* Padding reducido */
    position: relative;
    bottom: 0;
    width: 100%; /* Ocupa el ancho completo */
    display: flex;
    flex-wrap: wrap; /* Permite que el contenido se ajuste */
    justify-content: space-between; /* Alinea las columnas a los extremos */
    gap: 2rem; /* Espacio entre columnas */
    box-sizing: border-box; /* Incluye padding en el ancho total */
}

/* Estilos para los párrafos dentro del footer */
.footer p {
    margin: 0.5rem 0;
}

/* Estilos para la columna izquierda */
.footer .left-column {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido horizontalmente */
    flex: 0.9; /* Ocupa el espacio disponible */
    min-width: 300px; /* Ancho mínimo */
    font-size: 1.2rem; /* Tamaño de fuente */
    padding-right: 1rem;
    justify-content: center;
}

/* Estilos para los enlaces en la columna izquierda */
.footer .left-column a {
    display: flex;
    flex-direction: row; /* Alinea imagen y texto horizontalmente */
    align-items: center;
    justify-content: flex-start; /* Alinea el contenido a la izquierda */
    padding: 0.1rem 1rem;
    background-color: var(--color-accent);
    color: white;
    text-decoration: none;
    border-radius: 0.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

/* Estilos para las imágenes dentro de los enlaces */
.footer .left-column a img {
    margin-right: 0.5rem; /* Margen a la derecha de la imagen */
    width: 25%; /* Tamaño de la imagen */
}

/* Estilos para el botón de contacto */
.footer .left-column .contact-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: var(--color-accent);
    color: white;
    text-decoration: none;
    border-radius: 0.5rem;
    font-weight: bold;
    margin-top: 0.1rem;
}

/* Estilos para la columna derecha */
.footer .right-column {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido horizontalmente */
    justify-content: center; /* Centra el contenido verticalmente */
    flex: 1; /* Ocupa el espacio disponible */
    min-width: 200px; /* Ancho mínimo */
}

.partner-logos {
    display: inline-flex; /* Cambia a inline-flex */
    justify-content: center; /* Centra los logos horizontalmente */
    align-items: center; /* Centra los logos verticalmente */
    gap: 2rem; /* Espacio entre los logos */
    margin-top: 1rem;
    background-color: #343a40; /* Color de fondo */
    padding: 1rem; /* Espaciado interno */
    border-radius: 1rem; /* Bordes redondeados */
    flex-wrap: wrap; /* Permite que los logos se envuelvan */
    overflow: hidden; /* Evita desbordamiento */
    max-width: 100%; /* Limita el ancho máximo */
}

.partner-logos img {
    flex: 0 1 auto; /* Permite que las imágenes crezcan y ocupen el espacio disponible */
    max-width: 150px; /* Reduce el ancho máximo de los logos */
    height: auto; /* Mantiene la proporción de la imagen */
    object-fit: contain; /* Asegura que las imágenes se ajusten bien */
    border-radius: 1rem; /* Bordes redondeados para las imágenes */
}

.footer .left-column .github-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.footer .left-column .github-link img {
    width: 50%; /* Reduce el tamaño a la mitad */
    margin-bottom: 0.5rem;
}

@media (min-width: 1024px) {
    .partner-logos {
        width: auto; /* Ajusta el ancho al contenido */
        padding: 1.5rem 2rem; /* Ajusta el padding */
    }
    .partner-logos img {
        border-radius: 1rem; /* Bordes redondeados para desktop */
    }
}

@media (max-width: 872px) {
    .features {
        grid-template-columns: 1fr; /* Single column layout */
    }

    .container-mission,
    .container-vision {
        text-align: center;
        flex: 1 1 100%;
        margin-bottom: 2rem; /* Add space for horizontal separator */
    }
    .title-about img {
        width: 25%;
    }
    .container-mission::after {
        display: none; /* Hide separator in mobile version */
    }

    .title-about h2 {
        text-align: center; /* Center h2 in mobile version */
    }

    .footer {
        flex-direction: column; /* Stack columns vertically */
        align-items: center; /* Center align columns */
    }

    .footer .right-column {
        width: 100%; /* Full width */
        margin-top: rem; /* Add margin for spacing */
    }

    .footer .left-column {
        width: 100%; /* Full width */
    }

    .partner-logos {
        flex-wrap: wrap; /* Allow wrapping */
        width: auto; /* Do not take full width */
    }

    .partner-logos img {
        width: 25%; /* Increase size for smaller screens */
    }
}

@media (max-width: 480px) {
    .footer {
        padding: 1rem; /* Reduce padding */
    }

    .footer p {
        font-size: 0.875rem; /* Adjust font size */
    }

    .partner-logos img {
        width: 25%; /* Further increase size for smaller screens */
    }
}
